@charset "UTF-8";


#encabezado {
	margin: 0px auto;
	width: 80%;
}


#superior #encabezado #logo {
	margin: 20px 0px 10px;
	width: 200px;
}


#imgDescrip { overflow: auto;}


#imgDescrip img {  width: 100%;}


#superior #encabezado #imgDescrip img {float: left;}


#descripcion {
	width: 100%;
	overflow: auto;
}


#descripcion p {
	margin: 20px 0px 10px 0px;
	color: #FFF;
	font-size: 1em;
	line-height: 140%;
}


#contenido {
	width: 80%;
	overflow: auto;
	margin: 0px auto;
}


.boton {
	width: 40%;
	float: left;
}


#pie {
	text-align: center;
	margin: 2.5%;
	font-size: .7em;
}


/*Menú navegación*/
nav {
	width: 100%;
	font-size: 1.4em;
	font-family: "OpenSans Bold", "Arial Bold", "Verdana Bold", sans-serif;
	overflow: auto;
}


nav ul {
	list-style: none;
	margin: 0px 0px 65px 0px;
}


nav ul li {
	float: left;
	margin: 0px; padding: 10px 0px 0px 0px;
	border-top: solid 2px #FFFFFF;
}


nav ul li a {
	text-decoration: none;
	padding: .3em .5em;
	margin: 0em .5em;
	display: block;
	color: #FFF;
}


nav ul li a:hover {	color: #AAA;}


